<script lang="ts">
	import type { PageData } from './$types';
	import TodoItem from '$lib/todo-item.svelte';
	import { enhance } from '$lib/actions/form';

	export let data: PageData;

	const title = 'Todo';

	const processNewTodoResult = async (res: Response, form: HTMLFormElement) => {
		const newTodo = await res.json();
		data['todos'] = [...data['todos'], newTodo];
		form.reset();
	};

	const processDeletedTodoResult = async (res: Response) => {
		const deletedTodo = await res.json();
		data.todos = data.todos.filter((t: Todo) => t.uid !== deletedTodo.uid);
	};

	const processUpdatedTodoResult = async (res: Response) => {
		const updatedTodo = await res.json();
		data['todos'] = data['todos'].map((t: Todo) => {
			if (t.uid === updatedTodo.uid) return updatedTodo;
			else return t;
		});
	};
</script>

<svelte:head>
	<title>{title}</title>
</svelte:head>

<div class="todos">
	<h1>{title}</h1>

	<form
		action="/todos.json"
		method="POST"
		class="new"
		use:enhance={{ result: processNewTodoResult }}
	>
		<input
			type="text"
			name="text"
			aria-label="Add a todo"
			placeholder="+ type to add a placeholder"
		/>
	</form>

	{#each data['todos'] as todo}
		<TodoItem {todo} {processDeletedTodoResult} {processUpdatedTodoResult} />
	{/each}
</div>

<style>
	.todos {
		width: 100%;
		max-width: 42rem;
		margin: 4rem auto 0 auto;
	}

	.new {
		margin: 0 0 0.5rem 0;
	}

	.new input {
		font-size: 28px;
		width: 100%;
		padding: 0.5em 1 0.3em 1em;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 8px;
		text-align: center;
	}

	.todos :global(input) {
		border: 1px solid transparent;
	}

	.todos :global(input:focus-visible) {
		box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.1);
		border: 1px solid #ff3e00 !important;
		outline: none;
	}
</style>
